.small-box {
    border-radius: 12px;
    box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.15);
    background: linear-gradient(#1A3C34, #8DA399, #EAF1B1);
}

.small-box {
    /* Move transition here so it applies to both 'hover' AND 'un-hover' */
    transition: transform 0.3s ease-in-out;
}

.small-box:hover .small-box-bacground{
    transform: translateY(-5px);
    background-size: 300px;
}

.small-box-grid:hover > .small-box:not(:hover) {
    transform:scale(.9);
}
.small-box-grid:hover > .small-box:not(:hover) .small-box-bacground,
.small-box-grid:hover > .small-box:not(:hover) .small-box-category {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.small-box .icon {
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
    color: #8DA399;
}

.small-box:hover .icon {
    opacity: 1; /* Optional: makes the icon light up on hover too */
}


.small-box-footer {
    font-weight: 600;
}

/*
.content-wrapper {
    background: linear-gradient(136deg,rgb(37, 95, 194), #2346d1);
} */

.content-header h1 {
    font-weight: 600;
   /* color: #171717; */
}



#mainSidebar{
        position:absolute;
        padding: 15px 10px;
        background: #8DA399;
        border-radius: 10px;
        backdrop-filter: blur (15px);
        box-shadow: 0 15px 35px #8DA399;
        border: 0.5px solid #91ad84;

}
#mainNavbar {
    background-color: #4d6a4f !important;
    overflow: hidden; flex: 0 0 80px;
    border-radius: 10px; cursor: pointer;
    border: 1.2px solid #8DA399;
     box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.4),
      -2px -5px 10px rgba(0, 0, 0, 0.1);
}

#themeToggle{
    background-color: #00a700 !important;
    overflow: hidden; flex: 0 0 80px;
    border-radius: 10px; cursor: pointer;
    border: 1.2px solid white;
     box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.4),
      -2px -5px 10px rgba(0, 0, 0, 0.1);
}





#brandLink {
    background-color: #8DA399 !important;
}

#brandLink .brand-text {
    color: white !important;
    font-weight: 800;
}





/* Print Styles */
@media print {
    header, footer, nav {
        display: none;
    }
    body {
        background: rgba(125, 157, 169, 0.063);
    }
}

